{% include header.html %}
<div id="wrap">

    <header id="page-header">
        <div class="header_div" align=center>
            <div>
                <img alt = "{{site.icon_alt_text}}" src="{{ site.icon_location }}" height=128px width=128px style="border: 8px solid {{ site.colors.accent }}">
            </div>
            <div>
                <h1 style="font-size: 64px; color: {{ site.colors.accent }};">{{ site.header_text }}</h1>
            </div>
        </div>
    </header>
    <div id="nonheaderfooter">
        <h1>PGP keys for {{site.user}}</h1>
        <div class="keydiv">
            {% for key in site.data.keys %}
            <div class="keyblock">
                <h4><a href="/assets/{{ key.id }}.{{ key.format }}">{{key.email}}</a></h4>
                <ul>
                    <li>Expires: {{key.expiration}}</li>
                    <li>Notes: {{key.notes}}</li>
                    <li>ID: {{key.id}}</li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
    <footer class="page-footer">
        <div class="footer_div" align=center>
            <div align=left>
                <p style="text-align: left;">{{ site.footer_text_left }}</p>
            </div>
            <div align=right>
                <p style="text-align: right;">{{ site.footer_text_right }}</p>
            </div>
        </div>
    </footer>
</div>
</div>

{% include footer.html %}